<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Unid Operacionais
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
 
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
 
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
 
    <ion-list no-lines>
        <ion-item *ngFor="let item of items">
            <ion-avatar item-left>
                <ion-icon name="pin"></ion-icon>
            </ion-avatar>
            <h2>{{item.title}}</h2>
            <p>{{item.address}}</p>
        </ion-item>
    </ion-list>
 
</ion-content>
