<ion-header>
  <ion-navbar color="danger">
    <ion-title>
      Unid Operacionais
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
 
    <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
 
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
 
    <ion-list inset>
        <ion-item-sliding *ngFor="let item of items">
            <ion-item>
                <ion-avatar item-left>
                    <ion-icon name="{{ item.icon }}"></ion-icon>
                </ion-avatar>
                <h2>{{ item.title }}</h2>
                <p>{{ item.address }}</p>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="primary">
                    <ion-icon name="map"></ion-icon>
                    Mapa
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
 
</ion-content>
